body , html
{
	margin: 0;
	padding: 0;
}
.muzic-img
{
	margin-left: 40px;
	margin-top: 20px;
}
.M_z 
{
	margin: 20px;
	font-size:xx-large;
	padding: 10px;
}
section
{
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	display: flex;
	justify-content:  space-between;
	background: #fff
}
header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%
	padding: 20px 100px;
	display: flex;
	justify-content:  space-between;
	background: #fff
}
header ul
 {
 	position: relative;
 	display: flex;
 	margin-left: 500px;
 }
header ul li
{
	list-style: none;
	font-size: x-large;
}
header ul li a
{
	display: inline-block;
	color: #333;
	font-weight: 400;
	margin-left: 40px;
	text-decoration: none;
	margin-top: 40px
}
.M_z
{
	padding-top:30px ;
	margin-left: 100px;
}
.baneer
{
	margin-right: 100px;
	margin-top: 50px;
	width:1400px;
	height: 600px;
}
.tabb
{
	margin-left:750px;
}
.img-sen
{
	margin-left: 300px;
	margin-bottom: 147px;
	border: 1px solid black;
    border-radius: 10px;    
}
.img-sen2
{
	margin-left: 30px;
	margin-bottom:147px; 
	border: 1px solid black;
    border-radius: 10px;        
}
.len-m
{
	margin-left: 800px;
	color: #0000ff;
}
.img-sen3
{
	margin-left: 300px;
	margin-bottom:147px;
	border: 1px solid black;
    border-radius: 10px;	        
}
.aaa
{
	margin: 100px;
}
.vvv
{
	padding: 10px;
	margin: 10px;
	border: 1px solid #d1d1d1;
}
.dia
{
	padding: 10px;
    border: 1px solid #d1d1d1;
    margin: 10px;
}











